<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>About</title>
</head>

<body>
    <h1>Steve Carell</h1>
    <h2>About</h2>
    <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="works.html">Works</a></li>
    </ul>
    <p>
        Steve Carel is an American actor, comedian, writer, producer, and director. He played Michael Scott in The Office (2005 U+2013 2013), NBC U+2019 <s></s>
        adaptation of the British series created by Stephen Merchant and Ricky Gervais, where Carell also worked as an
        occasional producer, writer and director. Carell has received numerous accolades for his performances in both film and
        television, including the Golden Globe Award for Best Actor U+2013 Television Series Musical or Comedy for his work on The
        Office. He was recognized as "America's Funniest Man" by Life magazine.
    </p>
</body>

</html>
