<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>About</title>
</head>

<body>
    <h1>Steve Carell</h1>
    <h2>Works</h2>
    <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="works.html">Works</a></li>
    </ul>
    <p>
Carell gained recognition as a correspondent on The Daily Show with Jon Stewart from 1999 to 2005. He went on to star in
several comedy films, including Anchorman: The Legend of Ron Burgundy (2004) and its 2013 sequel, as well as The
40-Year-Old Virgin (2005), Evan Almighty (2007), Get Smart (2008), Date Night (2010), Crazy, Stupid, Love (2011), and
The Way, Way Back (2013). He also voice acted in Over the Hedge (2006), Horton Hears a Who! (2008) and the Despicable Me
franchise (2010 U+2013 present).

Carell began to shift into more dramatic roles in the 2010s, with his role as wrestling coach and convicted murderer
John Eleuthère du Pont in the drama film Foxcatcher (2014) earning him, among various honors, nominations for the
Academy Award for Best Actor, the Golden Globe Award for Best Actor U+2013 Motion Picture Drama and the BAFTA Award for
Best Actor in a Supporting Role. He also received acclaim for his starring roles in Little Miss Sunshine (2006), The
Big Short (2015), and Battle of the Sexes (2017), the latter two earning him his eighth and ninth Golden Globe Award
nominations, respectively. In 2018, he re-teamed with Anchorman and The Big Short director Adam McKay for the Dick
Cheney biographical film Vice, in which he portrayed Donald Rumsfeld, and played journalist David Sheff in the drama
film Beautiful Boy.

Carell returned to television as the co-creator of the TBS comedy series Angie Tribeca (2016 U+2013 2018), which he developed
with his wife, Nancy Carell. He received critical acclaim for his starring role as Mitch Kessler in the Apple TV+ drama
series The Morning Show (2019 U+2013 2021), for which he received a nomination for the Primetime Emmy Award for Outstanding
Lead Actor in a Drama Series. He also returned to comedy with the lead role of General Mark R. Naird in the Netflix
sitcom Space Force (2020 U+2013 present).
    </p>
</body>

</html>